- var pageLang = 'ru-RU'
- var viewport = 'user-scalable=no, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, width=device-width'
- var locale = 'ru_RU'
- var siteUrl = 'https://andrejsharapov.github.io/'
- var siteName = 'Андрей Шарапов'
- var appName = 'Andrej Sharapov'
- var meta = true
- var icons = true
- var page = true
- var jquery = false

block vars
    - var pageTitle
    - var pageDesc
    - var leadText
    - var headId