extends ../template

block vars
    - pageTitle = 'Простые, предсказуемые цены'
    - headId = 'pricing'
    - pageDesc = 'Integrated development, SEO-promotion and support of your site.'
    - leadText = 'Комплексная разработка, SEO-оптимизация и поддержка сайта'
    - pageName = pageTitle
    - anchor = true

block prepend title
    | #{ pageTitle } &mdash; 

block pageStyles
    link(rel="stylesheet" href="/css/pricing.min.css")

block header
    .bgpage

block content
    section#pricing-content
        h2.heading-content Почему вам стоит 
            span заказать здесь?
        p.lead.bold Вы гарантированно получите:
        ul.dots
            each d_one in ['разработку сайта на одной из популярных <span class="tooltips"><span class="tooltip" data-title="Content Management System (система управления содержимым) — информационная система или компьютерная программа для обеспечения и организации совместного процесса создания, редактирования и управления контентом.">CMS</span></span>: WordPress, Joomla!, <s>Tilda</s>, <s>Bitrix</s> или простую и легкую HTML страничку;', 'создание фирменных стилей, инфографики, логотипа;', 'разработку креативного веб-дизайна с учетом UX / UI;', 'сайт, который одинаково отображается во всех современных браузерах;', 'оптимизированный дизайн для современных мобильных устройств;', 'HTML5 баннеры, отвечающие техническим требованиям рекламных площадок;', 'SEO-оптимизацию сайта для дальнейшего продвижения;', 'настройку сквозной веб-аналитики в Яндекс.Метрике и Google Analytics.']
                li!= d_one
        p.lead.bold И самое главное
        ul.dots
            each d_two in ['отношение к вашему проекту как к своему;', 'только лучший и уникальный контент;', 'оперативную работу, в соответствии с установленными сроками;', 'вполне приемлемую стоимость.']
                li= d_two

    section
        h2.heading-content Услуги

        .alert.warning Чтобы узнать больше об интересующей вас 
            strong услуге, 
            | откройте раздел и 
            strong дважды щелкните по ней 
            | левой кнопкой мыши.

        site-pricing(:pricelist="pricelist" @select="selected = $event")
        price-selected(v-if="selected", :p="selected" @close="selected = null")

        blockquote Цена любой работы отталкивается от затрачиваемого на эту работу времени. Но чтобы понять сколько времени придется потратить на работу, нужно понять объемы работы.

    section
        h2.heading-content Варианты 
            span сотрудничества

        .grid.column-two.aifs
            div
                h4.upper Проектная работа
                p Классический «водопадный» подход, когда соглашение определяет последовательность всех этапов работ и сроки, а в техническом задании прописан ожидаемый конечный результат.
            div
                h4.upper «Гибкая» разработка
                p В этом случае работа строится «спринтами» - временными отрезками, за которые реализовываются новые требования, полученные в том числе и в результате анализа уже 
                    span.tooltips(style="display: initial;")
                        span.tooltip(data-title="Часто важно запустить проект в минимальном первичном функционале, проводя его дальнейшую постоянную доработку, изменение и совершенствование.") работающей части проекта.
    
        h2.heading-content Сроки
        p В среднем, учитывая этап согласования технического задания, внутренние утверждения на стороне клиента и длительность работ по созданию, редизайну и разработке некоторых элементов сайта могут составляют от 2 дней до 3 месяцев. Более подробную информацию, вы можете найти в списке, расположенном выше, дважды щелкнув по выбранной услуге.

                    
    section
        .pricing-calculator
            .flex
                img.image(src="/static/calc.svg" loading='lazy' alt= pageTitle)
                div
                    h4 Как вычисляется стоимость сайта?
                    p Сайт — это не баннер и не буклет. Сайт — это проект разной сложности.
                    p Цена за сайт начинается с объема дизайна. Что это за сайт? Что включает в себя дизайн сайта стилистически? Сколько у него страниц? Простой ли это сайт в духе минимализма? Будет ли дизайн адаптивен? И прочее.
                    site-whatisit(@select="isitselect = true")
                    site-whatisit-open(v-if="isitselect" :isitopen="isitopen" @close="isitselect = false")
                    
    section
        h2.heading-content Расчет 
            span стоимости услуг

        .pricing-calculator
            .flex
                img.image(src="/static/calc.svg" loading="lazy" alt= pageTitle)
                div
                    h4 Как рассчитать стоимость?
                    p Вам не нужно скачивать прайс-лист или искать время для дополнительных звонков, чтобы узнать итоговую сумму! Достаточно просто открыть расположенный ниже калькулятор и выбрать необходимые вам услуги. Итоговая стоимость вычисляется автоматически.

        p.alert.warning
            strong Будьте внимательны при рассчетах!
            br
            | Некоторые услуги, такие как «комплексная разработка сайта», могут включать в себя самостоятельные услуги.
        
        details.open-calc
            summary.price-heading
            site-calc(:pricelist="pricelist")

    section#last
        .text-center
            h4 Готовы сделать заказ? 
            p.lead
                a(href="/contact", rel="noopener noreferrer") Напишите мне 
                | уже сейчас.

block anchorOpt
    script.
        anchors.add('h2');

block pageJs
    script(src="/js/pricing.min.js")